---
layout: base.njk
---

<div class="dark-box">
	<h1 class="animate__animated animate__fadeInDown">Hudson's Site.</h1>
	<p class="animate__animated animate__fadeInUp">I am a guy who likes Linux, Bash and Python.</p>
</div>
<div class="light-content-box">
	{{ content | safe }}
</div>