---
layout: layouts/base.njk
templateClass: tmpl-home
---

{% set postslist = collections.posts %}

<div class="background-image">
	<div class="box">
		<h1 id="header"></h1>
		<p class="animate__animated animate__fadeInUp">I am a guy who likes Linux, Bash and Python.</p>
	</div>
</div>
<div class="light-content-box">
	{{ content | safe }}
	
</div>
<div class="dark-content-box">
	<h1>Posts</h1>
	<p>Here are all of my blog posts.</p>
	{% include "postslist.njk" %}
</div>
<script src="/assets/js/typewriter.js"></script>